mockups/haml/index.haml
/ http://haml.info/docs/yardoc/file.REFERENCE.html

- flavor = "raspberry"

!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport",
              :content => "width=device-width, initial-scale=1"}
        %link{:href => "/favicon.ico", :rel => "shortcut icon"}
        %link{:rel => "stylesheet", :href => "/css/base.css"}

    %body

        %h1.head-content Movie Reviews
        #container
            %ul
                %li Still Figuring out
                %li how I want to write this site
            %p
                Here is some regular text that should compile into
                a paragraph tag or something...

                The following is a self closing tag
                %br/

            %p
                I wonder if #{flavor} is of ice-cream

            /
                #commented-section
                %p
                    Everything is going to commented out with a single slash
                    that is kind of cool

        %a{:href=>"/posts"} All the posts and stuff
        %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}

mockups/index.html
<!-- http://haml.info/docs/yardoc/file.REFERENCE.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='/css/base.css' rel='stylesheet'>
  </head>
  <body>
    <h1 class='head-content'>Movie Reviews</h1>
    <div id='container'>
      <ul>
        <li>Still Figuring out</li>
        <li>how I want to write this site</li>
      </ul>
      <p>
        Here is some regular text that should compile into
        a paragraph tag or something...
        The following is a self closing tag
        <br>
      </p>
      <p>
        I wonder if raspberry is of ice-cream
      </p>
      <!--
        <div id='commented-section'></div>
        <p>
          Everything is going to commented out with a single slash
          that is kind of cool
        </p>
      -->
    </div>
    <a href='/posts'>All the posts and stuff</a>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </body>
</html>
